<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NotifyAPI" value=""/>
		<add key="NotifyTemplateId" value=""/>
		<add key="BitlyToken" value=""/>
		<add key="BitlyGroup" value=""/>
		<add key="UseProxy" value="false"/>
		<add key="MinimumPatientAge" value="30"/>
		<add key="LinkFormat" value=""/>
		<add key="AesHexKey" value=""/>
	</appSettings>
</configuration>