/.vs
/MigrationBackup
/TestResult.xml
/TestResults
/artifacts
/deploy
/packages
/preDeploy
**/bin/
**/obj/
**/wwwroot/dist/
ClientApp/dist/
node_modules/
.vscode/
**/wwwroot/lib
DigitalHealthCheckWeb/.vs/
publish/
DigitalHealthCheckWeb/screenshots/
DigitalHealthCheckWeb/Logs/
