@inherits Page

<GDSNotificationBanner Type="success" id="cookies-updated-notification" hidden>
    <p class="govuk-notification-banner__heading">
        You've set your cookie preferences. <a class="govuk-notification-banner__link" href="@($"./Index{BuildQuery(IdQueryParam)}")">Go back to the page you were looking at</a>.
    </p>
</GDSNotificationBanner>

<h1 class="govuk-heading-l">Cookies policy</h1>

<p class="govuk-body">Cookies are small text files that are placed on your computer by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site.</p>
<p class="govuk-body">This website uses some cookies necessary to make the site work and some optional cookies which allow monitoring use of the site and which pages are visited in order to assess and improve the effectiveness of the site. We do not set any cookies for third parties or advertising purposes.</p>
<p class="govuk-body">Learn more about how you can contact us and how we process personal data in our Privacy Policy.</p>
<p class="govuk-body">The table below explains the cookies we use and why.</p>

<h2 class="govuk-heading-m">Essential Cookies (strictly necessary):</h2>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">Cookies</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Cookie Name</th>
            <th scope="col" class="govuk-table__header">Provider</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">.AspNetCore.Session</th>
            <td class="govuk-table__cell">NHS Digital Health Check</td>
            <td class="govuk-table__cell">This cookie holds important information used by the site to remember some of your choices. It is cleared once you log off or close the browser.</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">.AspNetCore.Antiforgery</th>
            <td class="govuk-table__cell">NHS Digital Health Check</td>
            <td class="govuk-table__cell">This cookie is used to ensure that malicious websites cannot submit information to the NHS Digital Health Check without your permission, known as Cross-Site Scripting Attacks or XSRF. It is cleared once you log off or close the browser.</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">dhc_cookies_policy</th>
            <td class="govuk-table__cell">NHS Digital Health Check</td>
            <td class="govuk-table__cell">Saves your cookie settings (for 1 year)</td>
        </tr>
    </tbody>
</table>

<h2 class="govuk-heading-m">Analytics cookies (optional)</h2>

<p class="govuk-body">We use Google Analytics software to understand how people use the NHS Digital Health Check. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.</p>
<p class="govuk-body">We do not collect or store your personal information (for example your name or address) so this information cannot be used to identify who you are.</p>
<p class="govuk-body">We do not allow Google to use or share our analytics data.</p>
<p class="govuk-body">Google Analytics stores information about:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>the pages you visit</li>
    <li>how long you spend on each page</li>
    <li>how you arrived at the site</li>
    <li>what you click on while you visit the site</li>
    <li>the device and browser you use</li>
</ul>

<table class="govuk-table">
    <caption class="govuk-table__caption">Analytics cookies we use</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">_ga</th>
            <td class="govuk-table__cell">Helps us count how many people visit the NHS Digital Health Check by telling us if you’ve visited before.</td>
            <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">_gid</th>
            <td class="govuk-table__cell">Helps us count how many people visit the NHS Digital Health Check by telling us if you’ve visited before.</td>
            <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">_gat_UA-[random number]</th>
            <td class="govuk-table__cell">Used to reduce the number of requests.</td>
            <td class="govuk-table__cell">1 minute</td>
        </tr>
    </tbody>
</table>

<div id="cookies-controls" hidden="hidden">
    <GDSRadios Classes="govuk-radios--inline"
               Name="Cookies"
               Items="@ConsentItems"
               IdPrefix="cookies"
               FieldSet="@(new GDSFieldSet.Options {
                            Legend = new GDSFieldSet.LegendOptions {
                                Text = "Do you want to accept analytics cookies?",
                                Classes = "govuk-fieldset__legend--s"
                            }})" />

    <GDSButton PreventDoubleClick="true" Text="Submit" id="cookies-submit-preferences" />
</div>

<div id="cookies-no-js">
    <h2 class="govuk-heading-m">Change your cookie settings</h2>
    <p class="govuk-body">We cannot change your cookie settings at the moment because JavaScript is not running in your browser. To fix this, try:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>turning on JavaScript in your browser settings</li>
        <li>reloading this page</li>
    </ul>
</div>

<h2 class="govuk-heading-m">More information about cookies</h2>

<p class="govuk-body">We only set cookies when JavaScript is running in your browser and you’ve accepted them. If you choose not to run Javascript, the information on this page will not apply to you.</p>

<p class="govuk-body">Find out <a href="https://ico.org.uk/for-the-public/online/cookies" title="How to manage cookies">how to manage cookies</a> from the Information Commissioner's Office.</p>

<p class="govuk-body">Cookie declaration last updated on 1/2/2022</p>

<GDSButton PreventDoubleClick="true" HRef="@($"./Index{BuildQuery(IdQueryParam)}")">Go back</GDSButton>

@code {

    protected IList<GDSRadios.Item> ConsentItems => new[]
        {
        new GDSRadios.Item()
        {
             Value = "accept",
             Id = "cookies-accept",
             Checked = false,
             Text="Yes"
        },
        new GDSRadios.Item()
        {
             Value = "reject",
             Id = "cookies-reject",
             Checked = true,
             Text="No"
        }
    };

}