@inherits Page

<h1 class="govuk-heading-l">Your privacy</h1>

<p class="govuk-body">This Privacy Notice details how your data is collected, processed and stored for the Digital NHS Health Check.</p>
<p class="govuk-body">Southwark Council’s Public Health Division, in partnership with the NHS, provides the NHS Health Check service. It is a legal requirement that Southwark Council provides this service to all eligible residents in Southwark. Our IT partner Quality Medical Solutions (QMS) Ltd. operates the digital NHS Health Check on behalf of the council.</p>

<h2 class="govuk-heading-m">Who has access to your data?</h2>
<p class="govuk-body">The information that you enter using this digital NHS Health Check will only be processed by authorised staff and IT partners with restricted access. Your GP surgery will automatically be sent your results, if you choose to validate your identity. We explicitly ask for consent to forward specific contact information if you opt in to third party services to get health measurements or other forms of support. Your data cannot be sold or shared with any third parties, except as detailed in this Privacy Notice. No data is shared for marketing purposes.</p>

<h2 class="govuk-heading-m">Identifiable data</h2>
<p class="govuk-body">You are invited personally by the NHS to complete your digital NHS Health Check, and you will be asked to provide some basic information about yourself and your health, some of which is considered Special Category Data. The information you provide as part of the check is stored securely by our IT partner on Microsoft Azure, and you can edit your data at any time by revisiting the site.</p>
<p class="govuk-body">The Digital NHS Health Check includes a secure validation process that allows you to be identified from your personalised invitation. If you choose to validate your identity, a copy of your data is sent to your GP clinic to enable it to be entered into your patient record, which is held by your GP clinic. This means that if the clinical assessment reveals any health concerns, your GP clinic can follow up with you to ensure you get the right medical care. This is a legal requirement of the NHS Health Check service. The data transfer follows the NHS best practice guidelines for secure transfer of patient data. If you do not identify yourself, or if the identifying information you input does not match what your GP surgery has on their records, you will be able to complete the health check but your results will only be sent to you via email and will not be automatically sent to your GP surgery.</p>
<p class="govuk-body">Southwark Council may also use your email address and UK mobile telephone number to invite you to feedback your experience of using the Digital NHS Health Check.</p>

<h2 class="govuk-heading-m">Anonymised data</h2>
<p class="govuk-body">Southwark Council has access to anonymised data from the service, which means you cannot be identified from this information. Southwark Council will use anonymous data summaries from thousands of people who complete the digital NHS Health Check to help understand how the service is being used, the overall health needs of those using it and that we are providing the right services to you.</p>
<p class="govuk-body">We use this information to report to NHS management and the Department of Health & Social Care the number of people accessing the NHS Health Check as part of our required reporting procedures.</p>

<h2 class="govuk-heading-m">How does Southwark Council manage your data?</h2>
<p class="govuk-body">Southwark Council takes the security of your data seriously and has internal policies and controls in place to ensure that your data is not lost, accidentally destroyed, misused or disclosed, and is not accessed inappropriately.</p>
<p class="govuk-body">Our IT partner (QMS) will securely manage the data entered on the site and will delete the data in line with our Record Retention and Disposal policy.</p>
<p class="govuk-body">More details may be found in our <a class="govuk-link" href="https://www.southwark.gov.uk/council-and-democracy/freedom-of-information-and-data-protection/corporate-data-privacy-notice">Corporate Data Privacy Notice</a>.</p>

<h2 class="govuk-heading-m">How does Southwark Council manage your data?</h2>
<p class="govuk-body">Data that you enter on the Digital NHS Health Check will be retained for up to 1 year following the last entry you make. Data is retained in order that you may return and update your information and recalculate your risk. One year after your latest data update, your data will be automatically and securely deleted. </p>
<p class="govuk-body">If the Digital NHS Health Check is withdrawn all personal data will be securely deleted within one month of decommissioning, using industry-standard processes to ensure secure deletion and disposal of any associated IT resources.</p>

<h2 class="govuk-heading-m">What rights do I have?</h2>
<p class="govuk-body">You have rights that allow you to control how and why we process information. More details may be found in our <a class="govuk-link" href="https://www.southwark.gov.uk/council-and-democracy/freedom-of-information-and-data-protection/corporate-data-privacy-notice">Corporate Data Privacy Notice</a>.</p>
<p class="govuk-body">If you are concerned about how your personal information is being handled, please contact the council's Data Protection Officer by email <a href="mailto:dpo@southwark.gov.uk">dpo@southwark.gov.uk</a>, telephone 0207 525 5000 or post:</p>
<p class="govuk-body">Data Protection Officer</p>
<p class="govuk-body">2nd floor Hub 1</p>
<p class="govuk-body">PO Box 64529</p>
<p class="govuk-body">London</p>
<p class="govuk-body">SE1P 5LX</p>

<GDSButton PreventDoubleClick="true" HRef="@($"./Index{BuildQuery(IdQueryParam)}")">Go back</GDSButton>

@code {

}