@inherits Page

<h1 class="govuk-heading-l">Digital NHS Health Check Terms and Conditions</h1>
<p class="govuk-body">This policy sets out the terms between you and us under which you may access our Digital NHS Health Check. This applies to all users of our service.</p>
<p class="govuk-body">Your use of our Digital NHS Health Check means that you accept, and agree to abide by, all the policies set out in these terms and conditions.</p>
<p class="govuk-body">Please read these terms and conditions carefully before using this digital NHS Health Check service.</p>

<h2 class="govuk-heading-m">1. Introduction</h2>
<p class="govuk-body">Southwark Council owns the Digital NHS Health Check tool. The tool is maintained and hosted by our IT partner, Quality Medical Solutions (QMS) Limited.</p>
<p class="govuk-body">You may access and use this service if you agree to be legally bound by the terms set out here. If you do not agree to be legally bound by these terms, please do not access and/or use this service.</p>

<h2 class="govuk-heading-m">2. Changes to terms</h2>
<p class="govuk-body">We may make changes to the Digital NHS Health Check tool, including these terms, at any time. You will be legally bound by the updated or amended terms from the first time that you use the Digital NHS Health Check tool after we publish the changes on it.</p>

<h3 class="govuk-heading-s">Digital NHS Health Check Tool eligibility</h3>
<p class="govuk-body">This service is by invitation only, and is only for people:</p>
<ul class="govuk-list--bullet govuk-list">
    <li>aged 40 to 74,</li>
    <li>who live in Southwark,</li>
    <li>who do not have any of the following pre-existing conditions:</li>
    <li>
        <ul class="govuk-list--bullet govuk-list">
            <li>heart disease</li>
            <li>chronic kidney disease</li>
            <li>diabetes</li>
            <li>high blood pressure (hypertension)</li>
            <li>atrial fibrillation</li>
            <li>transient ischaemic attack</li>
            <li>inherited high cholesterol (familial hypercholesterolemia)</li>
            <li>heart failure</li>
            <li>peripheral arterial disease</li>
            <li>stroke</li>
            <li>you are currently being prescribed statins to lower cholesterol</li>
            <li>previous checks have found that you have a 20% or higher risk of getting cardiovascular disease over the next 10 years and you are on clinical treatment.</li>
        </ul>
    </li>
</ul>
<p class="govuk-body"></p>

<h2 class="govuk-heading-m">3. Tool purpose</h2>
<p class="govuk-body">This service enables individuals to:</p>
<ul class="govuk-list--bullet govuk-list">
    <li>understand their risk of developing heart and circulatory diseases, as well as Type 2 diabetes</li>
    <li>understand their mental well-being</li>
    <li>find personalised information and support that can help them lead a longer, healthier life</li>
    <li>access clinical follow-up and support services, if needed</li>
</ul>
<p class="govuk-body">This tool does not provide a diagnostic service of Type 2 diabetes, heart and circulatory diseases, or mental health conditions. Diagnosis of these health conditions can only be carried out by a healthcare professional.</p>
<p class="govuk-body">If you feel unwell, you should seek clinical support from a healthcare professional by contacting your GP clinic, NHS 111 or if it is an emergency, 999.</p>

<h2 class="govuk-heading-m">4. Medical devices and validated assessment measures</h2>
<p class="govuk-body">This tool uses the "QRisk3" software medical device to assess an individual's risk of developing heart and circulatory disease. It also uses the "QDiabetes" medical device to assess an individual's risk of developing Type 2 diabetes. These two risk scores are calculated using open-source versions of <a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://qrisk.org/three/index.php">peer-reviewed (opens in a new tab)</a> algorithms that are freely available in the<a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://qrisk.org/three/index.php"> public domain (opens in a new tab)</a>. They are<a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://www.nice.org.uk/guidance/cg181"> recommended by NICE (opens in a new tab)</a>.</p>
<p class="govuk-body">The QRisk3 and QDiabetes software incorporated in the tool are developed by Clinrisk Ltd and are available under under the GNU Lesser General Public License and the GNU Affero General Public Licence with this condition "<em>ClinRisk Ltd. have released this code under the GNU Lesser General Public License to enable others to implement the algorithm faithfully. However, the nature of the GNU Lesser General Public License is such that we cannot prevent, for example, someone accidentally altering the coefficients, getting the inputs wrong, or just poor programming. ClinRisk Ltd. stress, therefore, that it is the responsibility of the end user to check that the source that they receive produces the same results as the original code found at </em><a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://qrisk.org"><em>https://qrisk.org</em> (opens in a new tab)</a>." </p>
<p class="govuk-body">This tool also uses two validated measures to assess mental well-being. As both of these are publicly available and can be done by self-report using a simple scoring system, then neither questionnaire is registered as a "medical device". The first questionnaire is the<a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://whooleyquestions.ucsf.edu/"> "Whooley Questions" (opens in a new tab)</a>. This can help rule out the possibility of depression in screening settings. It is more studied and peer-reviewed than any other such screening questionnaire, which is why it is <a rel="noreferrer noopener" target="_blank" class="govuk-link" href="https://evidence.nihr.ac.uk/alert/two-simple-questions-help-gps-rule-out-depression/">recommended by NICE (opens in a new tab)</a>. The second questionnaire is the "Generalised Anxiety Disorder 2-item (GAD-2)" questionnaire. This was developed by Dr Robert Spitzer and colleagues to identify people who may be at higher risk of anxiety disorders and is based on the longer GAD-7 questionnaire. Neither of these questionnaires are in themselves sufficient for diagnosis, as they are an indicative guide of who may benefit from further assessment. Permission is not required to reproduce, display, or distribute these questionnaires.</p>

<h2 class="govuk-heading-m">5. Information content</h2>
<p class="govuk-body">The health related information provided in this tool has been primarily developed by Southwark Council’s specialist public health team, and reviewed by local clinical experts.</p>
<p class="govuk-body">This information is for use as information or for educational purposes. We do not warrant that information we provide will meet your health or medical requirements. This is to enhance your knowledge and is for your information only; It is up to you to contact a health professional if you are concerned about your health.</p>
<p class="govuk-body">Elements of the content contains public sector information licensed under the Open Government Licence v3.0. set out in the <a rel="noreferrer noopener" target="_blank" class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (opens in a new tab)</a>.</p>

<h2 class="govuk-heading-m">6. Third-party websites and services</h2>
<p class="govuk-body">The tool links to external organisations content such as the NHS.UK. We do not monitor the content of third-party websites or third-party applications. Any link provided by Southwark Council through the digital NHS Health Check is solely for your convenience. We do not accept any responsibility for any third-party website or third-party applications.</p>
<p class="govuk-body">Where we provide links to third-party websites, that does not imply any association with or recommendation for those websites; this is for your information and convenience only. See our external links policy below.</p>
<p class="govuk-body">Where we provide links to third-party applications, that does not imply any association with or recommendation for those applications; this is for your information and convenience only. See our external links policy below.</p>
<p class="govuk-body">Where we provide names of services that are not commissioned by South East London Clinical Commissioning Group, or Southwark Council, that does not imply any association with or recommendation for those services.</p>

<h2 class="govuk-heading-m">7. Feedback</h2>
<p class="govuk-body">You can provide feedback on the content of this tool, or report any technical issues by emailing takecare@southwark.gov.uk</p>

<h2 class="govuk-heading-m">8. Intellectual property rights</h2>
<p class="govuk-body">Southwark Council own or have the right to use all intellectual property rights in the contents of this digital NHS Health Check tool. This includes rights in copyright, patents, database rights, trademarks and other intellectual property rights.</p>
<p class="govuk-body">This does not include the medical devices QRisk3 and QDiabetes, which are developed by ClinRisk Limited and used under licence by Southwark Council.</p>
<p class="govuk-body">Nor does this include all content, elements of which contain public sector information licensed under the Open Government Licence v3.0. set out in the <a rel="noreferrer noopener" target="_blank" class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (opens in a new tab)</a>.</p>
<p class="govuk-body">As Southwark is a signatory of the Local Digital Declaration, the code used to build the tool available on an <a rel="noreferrer noopener" target="_blank" class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (opens in a new tab)</a> ("OGL"), and is held in Github. This means that you can use the code to develop a digital NHS Health Check, including copying it, adapting it, and using it for any purpose, including commercially, provided you follow these terms and conditions and the terms of the OGL. Southwark Council is not liable in any way for any use of the source code or developments based on this code.</p>
<p class="govuk-body">You may not use this code to charge members of the public to use a service that you use to develop with it.</p>
<p class="govuk-body">You must have operations in the United Kingdom.</p>
<p class="govuk-body">If you use any of the Digital NHS Health Check content, you must acknowledge Southwark Council statement: </p>
<p class="govuk-body">“Information from Digital NHS Health Check which is owned/created by Southwark Council, licenced under the current version of the Open Government Licence”.</p>
<p class="govuk-body">or in cases where the Digital NHS Health Check is combined, adapted, or otherwise modified in line with the terms and conditions: </p>
<p class="govuk-body">“Contains information from Digital NHS Health Check which is owned/created by Southwark Council, licenced under the current version of the Open Government Licence”.</p>
<p class="govuk-body">The OGL terms do not apply to the following categories of the Digital NHS Health Check, and therefore these must not be used without our or the relevant owner’s prior consent:</p>
<ul class="govuk-list--bullet govuk-list">
    <li>any logos, visuals, image rights, trademarks, trade names and design styles, or any predecessor or linked body, as well as of any partner or contributor;</li>
    <li>any other intellectual property rights, including but not limited to patents, design rights and trademarks;</li>
    <li>information owned by third parties which we are not authorised to licence on to you.</li>
</ul>

<h2 class="govuk-heading-m">9. Liability</h2>
<p class="govuk-body">We accept no liability to you should the Digital NHS Health Check not be available at any particular time.</p>
<p class="govuk-body">You acknowledge and agree that we will not be responsible for any injury, loss, distress, damage, costs or expenses (whether direct or indirect) arising out of, or relating to the use or misuse of the Digital NHS Health Check, except to the extent that such liability cannot be excluded by law (i.e. our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation or any other liability that cannot be excluded or limited under English law).</p>
<p class="govuk-body">This means that we have no liability to you (or anyone else on whose behalf you may use the Digital NHS Health Check) for:</p>
<p class="govuk-body">(a) any financial loss you may suffer or any inability to claim any payments you may experience;</p>
<p class="govuk-body">(b) any business loss you may suffer, including loss of revenue, loss of profits or loss of anticipated savings (whether those losses are the direct or indirect result of our default);</p>
<p class="govuk-body">(c) any loss which you suffer other than as a result of our negligence or breach of statutory duty;</p>
<p class="govuk-body">(d) any loss suffered due to the default of any party other than us;</p>
<p class="govuk-body">(e) any distress the use of the tool may cause you.</p>
<p class="govuk-body">Although we follow  robust governance processes and make reasonable efforts to maintain service and accurate, up-to-date content this website is provided "as is" and, to the extent permitted by law, we do not warrant or represent (expressly or impliedly and including but not limited to the implied warranties of satisfactory quality and fitness for a particular purpose) that the Digital NHS Health Check or any content is accurate, complete or up-to-date, will meet your particular requirements or needs, will be available uninterrupted or error free, that defects will be corrected, or that the Digital NHS Health Check or its supporting systems are free of viruses or bugs.</p>
<p class="govuk-body">We do not accept any liability to you if we fail, or are interrupted or delayed in the performance of any obligation because of:</p>
<p class="govuk-body">(a) the non-availability or failure of any telecommunications or computer services, systems, equipment or software operated or provided by you or any third party;</p>
<p class="govuk-body">(b) any other event not reasonably within our control.</p>
<p class="govuk-body">We do not give any representations, or commitments or accept any liability to you in respect of NHS.UK content provided by other users of the website, or third parties. Terms set out here should be read in conjunction with our external links policy (link). You acknowledge and agree that we will not be responsible for any injury, loss, distress, or damage (whether direct or indirect) arising out of, or relating to the misuse of, or inappropriate reliance on the contents or advice provided via an external link on this website, except to the extent that such liability cannot be limited or excluded by law.</p>

<h2 class="govuk-heading-m">10. Attacks, unauthorised access, and other violations</h2>
<p class="govuk-body">You must not try to gain unauthorised access to the Digital NHS Health Check, the servers on which it is stored, or any server, computer or database connected to them. You must not attack the Digital NHS Health Check in any way, (this includes denial-of-service attacks). We'll report any attacks or attempts to gain unauthorised access to the service to the relevant law enforcement authorities and shall share information about you with them.</p>
<p class="govuk-body">You must not use the Digital NHS Health Check:</p>
<p class="govuk-body">(a) to transmit any false, misleading, fraudulent, defamatory, offensive or illegal communications;</p>
<p class="govuk-body">(b) in a way that could damage, disable, overburden, impair or compromise our systems or security or interfere with other users</p>
<p class="govuk-body">(c) in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these terms of use, or act fraudulently or maliciously, for example, by hacking into or inserting malicious code, such as viruses or harmful data</p>
<p class="govuk-body">(d) in any way that is likely to cause reputational damage to the Southwark Council</p>

<h2 class="govuk-heading-m">11. Viruses</h2>
<p class="govuk-body">Southwark Council does not guarantee that the Site will be free and protected from bugs and viruses. You should use your own virus protection software when using the tool.</p>

<h2 class="govuk-heading-m">12. Remedies</h2>
<p class="govuk-body">To the extent that we are practically able to do so, we may terminate your access to all or any part of the digital NHS Health Check tool and services at any time without notice, if we believe in our sole discretion that you are in breach of any of the terms of access.</p>
<p class="govuk-body">Subscriptions to our emails can be terminated using the "Unsubscribe" links provided in the emails.</p>
<p class="govuk-body">We reserve the right to investigate complaints or reported violations of our terms and to take any action we consider appropriate, including but not limited to reporting any suspected unlawful activity to law enforcement officials, regulators, or other third parties and disclosing any information necessary or appropriate to such persons or entities relating to user information, email addresses, usage history, IP addresses and traffic information.</p>

<h2 class="govuk-heading-m">13. General</h2>
<p class="govuk-body">If any of these terms are held by a court to be unlawful, invalid or otherwise unenforceable then the remaining terms shall remain in full force and effect.</p>
<p class="govuk-body">We may transfer our rights and obligations under these terms to another organisation. You may only transfer your rights or your obligations under these terms to another person if we agree in writing.</p>
<p class="govuk-body">Your use of the Digital NHS Health Check tool and these terms, together with any service specific additional terms, shall be governed by and interpreted in accordance with the laws of England and Wales, and you agree to the exclusive jurisdiction of the courts of England and Wales in respect of any disputes that may arise in relation to the use of the Digital NHS Health Check tool.</p>

<h2 class="govuk-heading-m">14. Website links within the Digital NHS Health Check</h2>
<p class="govuk-body">We take great care over the websites we link to and review them regularly, but we are not responsible for the content of those sites. The inclusion of a link to an external website from the Digital NHS Health Check is for your information and convenience and should not, therefore, be interpreted as an endorsement of that site, its content, or any product or service it may provide.</p>
<p class="govuk-body">Transactions between users and any external site are not the responsibility of the Digital NHS Health Check.</p>

<h3 class="govuk-heading-s">Removal of links</h3>
<p class="govuk-body">If you would like us to remove a link to your website from the Digital NHS Health Check, please email us at <a class="govuk-link" href="mailto:takecare@southwark.gov.uk">takecare@southwark.gov.uk</a>.</p>
<p class="govuk-body">Note that unless you have a legal right to demand removal, such removal will be at our discretion.</p>

<h3 class="govuk-heading-s">How our links are chosen</h3>
<p class="govuk-body">Before we link to an external website, we perform a check to assess its suitability. It is a requirement of all websites that we link to that they make a clear distinction between normal editorial content and any advertising they may carry.</p>
<p class="govuk-body">We make sure that as many websites are free to access and that the services that they provide are free, however some of the website links may offer services that require payments for their full use. It is at the user&rsquo;s discretion as to whether they choose to pay for the additional services. Most services recommended through our chosen links are free.</p>
<p class="govuk-body">We also ask that external websites should:</p>
<ul class="govuk-list--bullet govuk-list">
    <li>clearly state their sources of funding</li>
    <li>have a quality-assurance procedure</li>
    <li>present a responsible perspective, reflecting the existence of choices</li>
    <li>are regularly reviewed and kept up to date</li>
    <li>on health matters, use current and reliable clinical evidence that is verifiable from other sources</li>
</ul>
<p class="govuk-body">Please note that these requirements don't generally apply to sites such as the Google Play Store and the iTunes App Store that have a primary purpose of providing access to a wide range of digital tools including, but not restricted to, those categorised as being relevant to health and care.</p>
<p class="govuk-body">Where we judge it to be helpful to our users for us to link to such sites in order to provide access to specific digital tools, we may do so without reference to some or all of the terms of our external links policy.</p>

<h3 class="govuk-heading-s">Social media links</h3>
<p class="govuk-body">In addition to linking to specific websites we may also link to content hosted on various social media platforms. Although we choose the pages and communities we link to carefully, it's important to understand that:</p>
<ul class="govuk-list--bullet govuk-list">
    <li>We do not review the pages and communities we link to at a frequency that would constitute routine or continual monitoring of their content. Individual users are free to post whatever they want on these platforms &ndash; their comments may not necessarily reflect reality and should never be taken as medical advice.</li>
    <li>Anything you post on these platforms may be publicly visible. Do not share anything you wouldn't feel comfortable talking about with a stranger and avoid giving away too much personal information.</li>
    <li>If you would like to let us know what you think about the communities we link to, or report a problem, you can email us on <a class="govuk-link" href="mailto:takecare@southwark.gov.uk">takecare@southwark.gov.uk</a></li>
</ul>

<h3 class="govuk-heading-s">Understanding how social networks use your data</h3>
<p class="govuk-body">Social networks use information about your online activity to build a profile of you. This data is then used to send you targeted adverts across various digital platforms.</p>
<p class="govuk-body">You should be aware that interacting with health-related content on social media may help to build the profile of you that social networks maintain and could result in you receiving adverts related to health issues.</p>
<p class="govuk-body">This process of collecting data for advertising purposes isn't controlled by the Digital NHS Health Check, and we do not have access to the data stored by social networks about you.</p>
<p class="govuk-body">You can find out more about how we manage data in the Digital NHS Health Check privacy policy (add link)</p>
<p class="govuk-body">Page last reviewed: 16 February 2022</p>
<p class="govuk-body">Next review due: 16 February 2023</p>


<GDSButton PreventDoubleClick="true" HRef="@($"./Index{BuildQuery(IdQueryParam)}")">Go back</GDSButton>

@code {

}