<GDSDetails SummaryText="If you don’t identify with the sex you were assigned at birth, or if you are intersex, please read the information below.">
    <p class="govuk-body">One of the limitations of the medical device algorithms, which are used to calculate the risk of heart and circulatory disease, as well as Type 2 diabetes, is that these algorithms only allow for binary sex options. Therefore, only ‘male’ or ‘female’ options can be selected for sex assigned at birth.</p>
    <p class="govuk-body">If your gender identity is not the same as the sex you were assigned at birth, please indicate the sex you were assigned at birth, and the gender that you best identify with. You will also be given the option to report your gender identity in your own words.</p>
    <p class="govuk-body">If you are intersex or were not assigned a sex at birth, please consider how to best proceed by speaking with a healthcare provider, including someone at your GP clinic, an endocrine or gender identity team (if you are able to access one), or one of the specialist services recommended by trans and non-binary communties such as Dean Street, CliniQ, and the Beaumont Society.</p>
    <p class="govuk-body">You can <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.dean.st/" title="Access Dean Street for advice from clinicians and counsellors">access Dean Street for advice from clinicians and counsellors (opens in a new tab)</a>.</p>
    <p class="govuk-body">You can <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://cliniq.org.uk/" title="Access CliniQ for advice from clinicians and counsellors">access CliniQ for advice from clinicians and counsellors (opens in a new tab)</a>.</p>
    <p class="govuk-body">You can <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.beaumontsociety.org.uk/" title="Access the Beaumont Society for links to relevant support services">access the Beaumont Society for links to relevant support services (opens in a new tab)</a>.</p>
    <p class="govuk-body">(Note that this should not be interpreted as an endorsement of the named specialist services by Southwark Council. Please see the Terms and Conditions for more detail.) </p>

</GDSDetails>
@code {

}
