<p class=MsoListParagraphCxSpFirst style='margin-top:0cm;margin-right:0cm;
margin-bottom:12.0pt;margin-left:18.0pt;text-indent:-18.0pt;line-height:normal;
border:none;padding:0cm'>
    <span style='font-family:Wingdings'>
        §<span style='font:7.0pt "Times New Roman"'>&nbsp; </span>
    </span>
    <span style='font-family:"Arial",sans-serif'>@Name = <i>@Value</i> (@SnomedCode)</span>
</p>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string SnomedCode { get; set; }
}