@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
<p class="govuk-body">Try again later.</p>
<p class="govuk-body">We saved your answers. They will be available when the service is available.</p>