@inherits PatientEmail;
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
</head>
<body lang="EN-GB">
    <div style="font-size: 12pt; font-family: arial,helvetica,sans-serif; margin: auto; max-width: 600px; ">
        <p>Dear @Check.FirstName @Check.Surname</p>
        <p>Thank you again for completing your NHS Health Check online. This service helps you to take control of your health and wellbeing.</p>
        <p>Your feedback is important to us. It can help to shape our new Digital NHS Health Check service and ultimately help improve the health and wellbeing of others like yourself.</p>
        <p>This is the second of three surveys. Complete all three and be entered into a prize draw to win Decathlon gift vouchers! There are multiple prizes of £100.00, £50.00 and £25.00. You have an estimated 1 in 15 chance of winning.</p>
        <p>Click this link to <a href="https://www.surveymonkey.co.uk/r/TD2XT5Q" title="Complete the second survey">complete the second survey</a>. It will take no more than 5 mins to complete.</p>
        <p>If you would like further support to help you make changes to your lifestyle or improve your mental wellbeing, please call our free healthy lifestyle support service on 0333 005 0159.</p>
        <p>This service is brought to you by the NHS and Southwark Council public health team. If you have any further questions about the digital NHS Health Check, please contact: publichealth@southwark.gov.uk.</p>
        <p>Sincerely,</p>
        <p>Southwark Public Health Team</p>
        <p><a href="mailto:publichealth@southwark.gov.uk">publichealth@southwark.gov.uk</a></p>

        <p>You can <a href="@(Url("Unsubscribe"))" title="click this link to unsubscribe from further emails">click this link to unsubscribe from further emails</a>.</p>
        
    </div>
</body>
</html>

@code {
}